.App{
  height: 100vh;
  display: flex;
  background-image: url("./image.png");
  background-size: cover;
  background-position: center;
   
}

.form{
 margin-top: 300px;
 margin-left: 500px;
 font-size: 20px;
}

.but{
  padding: 10px;
 
}


